.vs/dipshit/v14/.suo
Assets/dipshit.unity
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/CurrentLayout.dwlt
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/metadata/00/00000000000000004000000000000000
Library/metadata/00/00000000000000006100000000000000
Library/metadata/a5/a54ed441d7b6e9644b443d1ad1c0f0d6
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
.vs/dipshit/v14/.suo
Library/metadata/a5/a54ed441d7b6e9644b443d1ad1c0f0d6